// Copyright 2018 Matt<mr.chenyuqing@live.com>

.mt-right-layout{ 
  height: 100vh;
  background-image: url('../images/bgi.jpg');
  background-size: cover;
  background-position: center bottom;

  .mt-header {
    padding: 0;
  }

  .mt-content {
    margin: 24px 16px;
    padding: 24;
    background: '#fff';
  }

  .mt-footer {
    text-align: center;
  }
}
