// Copyright 2018 Matt<mr.chenyuqing@live.com>

.ant-d-url {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: underline;
  &:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
  }
}