// Copyright 2018 Matt<mr.chenyuqing@live.com>

.ant-d-url {
  color: #999999;
  text-decoration: underline;
  &:hover {
    color: #aaaaaa;
    text-decoration: underline;
  }
}

.ant-layout-footer {
  background-color: transparent;
  color: #999999;
}