$main-blue: #1890ff;

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .home-slides {
        background-color: #364d79;
        width: 100%;
        .inside-slide {
            height: 400px;
            // experiment todo: delete
            line-height: 400px;
            text-align: center;
            font-size: 50px;
        }
    }

    .display-icons {
        cursor: pointer;
        width: 320px;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // background-color: #fff;
        .icon-wrapper {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 36px;
            text-align: center;
            transition: all 0.2s ease-in;
            &:hover {
                color: $main-blue;
                font-size: 40px;
            }
        }
    }
}