// This is the index file of all css

@import '~antd/dist/antd.css';

@import 'headerBar';
@import 'container';
@import 'footer';
@import 'loginModal';
@import 'home';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}
