// This is the index file of all css

@import '~antd/dist/antd.css';

@import 'public.container';
@import 'public.footer';
@import 'public.headerBar';
@import 'public.loginModal';

@import 'common.paper';
@import 'common.markdownBox';

@import 'content.home';
@import 'content.message';
@import 'content.blog';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}
