// This is the index file of all css

@import '~antd/dist/antd.css';

@import 'test';
@import 'headerBar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    color: #ec9c52;
}