// This is the index file of all css

@import '~antd/dist/antd.css';

@import 'public.container';
@import 'public.footer';
@import 'public.headerBar';
@import 'public.loginModal';

@import 'common.paper';

@import 'content.home';
@import 'content.message';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

// TODO: remove
.temp-container {
    width: 100%;
    text-align: center;
    line-height: 100px; 
}
