// Copyright 2018 Matt<mr.chenyuqing@live.com>

$hearder-bar-height: 64px;

.mt-header-bar {
    height: $hearder-bar-height;
    background-color: #ffffff; 
    padding: 0 10px;
    box-shadow: 0 6px 5px #dddddd;
    .mt-header-left {
        width: 104px;
        height: $hearder-bar-height;
        float: left;
        display: flex;
        align-items: center;
        .back-btn {
            margin-left: 16px;
        }
    }
    .mt-header-right {
        width: 230px;
        height: $hearder-bar-height;
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
